# Handle the missing values.

In [1]:
#Import the packages
import pandas as mypd

In [2]:
#import the data
mydata=mypd.read_excel(r'D:\Python_ISI\data\Preprocessing_Data_I.xlsx')

In [3]:
#Explore the data
mydata.head()

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.0,100.0,70.0,30,3,0.46
1,2,5,2,5,20.0,70.0,100.0,15,1,0.08
2,3,4,1,4,20.0,70.0,100.0,15,2,0.11
3,4,4,1,4,30.0,70.0,70.0,50,4,0.73
4,5,5,2,5,NaN,100.0,NaN,50,4,0.50

In [4]:
#check for missing values
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SL No             20 non-null     int64
 1   Reviewer_Skill    20 non-null     int64
 2   Review_Type       20 non-null     int64
 3   Domain_Knowledge  20 non-null     int64
 4   Review_Time       19 non-null     float64
 5   Test_Coverage     19 non-null     float64
 6   Review_Coverage   19 non-null     float64
 7   Reuse             20 non-null     int64
 8   Review_Rate       20 non-null     int64
 9   Sprint_Prod       20 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 1.7 KB

In [5]:
#Deleting the records with missing values
mynewdata=mydata.dropna()

In [6]:
mynewdata

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.0,100.0,70.0,30,3,0.46
1,2,5,2,5,20.0,70.0,100.0,15,1,0.08
2,3,4,1,4,20.0,70.0,100.0,15,2,0.11
3,4,4,1,4,30.0,70.0,70.0,50,4,0.73
5,6,3,1,3,30.0,100.0,70.0,25,1,0.35
6,7,4,2,4,30.0,70.0,100.0,25,2,0.19
7,8,4,1,4,20.0,70.0,70.0,10,4,0.23
8,9,3,1,3,30.0,70.0,70.0,20,3,0.16
9,10,5,2,5,20.0,70.0,100.0,70,4,1.60
10,11,3,1,3,30.0,100.0,70.0,30,1,0.37
11,12,4,1,4,30.0,100.0,70.0,50,2,0.76
12,13,4,1,4,30.0,100.0,100.0,50,2,0.66
13,14,5,2,5,20.0,70.0,100.0,70,4,1.27
14,15,4,2,4,30.0,50.0,50.0,50,2,0.57
16,17,4,2,4,30.0,50.0,50.0,50,2,0.50
17,18,5,2,5,20.0,70.0,70.0,70,4,0.99
18,19,5,2,5,20.0,70.0,70.0,70,4,0.92
19,20,3,1,3,20.0,70.0,70.0,15,3,0.26

In [7]:
mynewdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SL No             18 non-null     int64
 1   Reviewer_Skill    18 non-null     int64
 2   Review_Type       18 non-null     int64
 3   Domain_Knowledge  18 non-null     int64
 4   Review_Time       18 non-null     float64
 5   Test_Coverage     18 non-null     float64
 6   Review_Coverage   18 non-null     float64
 7   Reuse             18 non-null     int64
 8   Review_Rate       18 non-null     int64
 9   Sprint_Prod       18 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 1.5 KB

In [8]:
mynewdata.to_excel(r'D:\Python_ISI\Cleaned_data.xlsx')

In [9]:
#Replace missing values with feature means
mydatanew=mydata.fillna(mydata.mean())

In [10]:
mydatanew

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.000000,100.000000,70.000000,30,3,0.46
1,2,5,2,5,20.000000,70.000000,100.000000,15,1,0.08
2,3,4,1,4,20.000000,70.000000,100.000000,15,2,0.11
3,4,4,1,4,30.000000,70.000000,70.000000,50,4,0.73
4,5,5,2,5,25.789474,100.000000,76.315789,50,4,0.50
5,6,3,1,3,30.000000,100.000000,70.000000,25,1,0.35
6,7,4,2,4,30.000000,70.000000,100.000000,25,2,0.19
7,8,4,1,4,20.000000,70.000000,70.000000,10,4,0.23
8,9,3,1,3,30.000000,70.000000,70.000000,20,3,0.16
9,10,5,2,5,20.000000,70.000000,100.000000,70,4,1.60
10,11,3,1,3,30.000000,100.000000,70.000000,30,1,0.37
11,12,4,1,4,30.000000,100.000000,70.000000,50,2,0.76
12,13,4,1,4,30.000000,100.000000,100.000000,50,2,0.66
13,14,5,2,5,20.000000,70.000000,100.000000,70,4,1.27
14,15,4,2,4,30.000000,50.000000,50.000000,50,2,0.57
15,16,4,1,4,30.000000,77.368421,50.000000,50,3,0.52
16,17,4,2,4,30.000000,50.000000,50.000000,50,2,0.50
17,18,5,2,5,20.000000,70.000000,70.000000,70,4,0.99
18,19,5,2,5,20.000000,70.000000,70.000000,70,4,0.92
19,20,3,1,3,20.000000,70.000000,70.000000,15,3,0.26

In [11]:
mydatanew.to_excel(r'D:\Python_ISI\Cleaned_data.xlsx')

In [12]:
#Replace missing values in Review time with mean
myrevtime=mydata.Review_Time

In [13]:
myrevtime.fillna(myrevtime.mean(),inplace=True)

In [14]:
mydata

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.000000,100.0,70.0,30,3,0.46
1,2,5,2,5,20.000000,70.0,100.0,15,1,0.08
2,3,4,1,4,20.000000,70.0,100.0,15,2,0.11
3,4,4,1,4,30.000000,70.0,70.0,50,4,0.73
4,5,5,2,5,25.789474,100.0,NaN,50,4,0.50
5,6,3,1,3,30.000000,100.0,70.0,25,1,0.35
6,7,4,2,4,30.000000,70.0,100.0,25,2,0.19
7,8,4,1,4,20.000000,70.0,70.0,10,4,0.23
8,9,3,1,3,30.000000,70.0,70.0,20,3,0.16
9,10,5,2,5,20.000000,70.0,100.0,70,4,1.60
10,11,3,1,3,30.000000,100.0,70.0,30,1,0.37
11,12,4,1,4,30.000000,100.0,70.0,50,2,0.76
12,13,4,1,4,30.000000,100.0,100.0,50,2,0.66
13,14,5,2,5,20.000000,70.0,100.0,70,4,1.27
14,15,4,2,4,30.000000,50.0,50.0,50,2,0.57
15,16,4,1,4,30.000000,NaN,50.0,50,3,0.52
16,17,4,2,4,30.000000,50.0,50.0,50,2,0.50
17,18,5,2,5,20.000000,70.0,70.0,70,4,0.99
18,19,5,2,5,20.000000,70.0,70.0,70,4,0.92
19,20,3,1,3,20.000000,70.0,70.0,15,3,0.26

In [15]:
#Replace missing values in Test Coverage with median
mytestcov=mydata.Test_Coverage

In [16]:
mytestcov.fillna(mytestcov.median(),inplace=True)

In [17]:
mydata

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.000000,100.0,70.0,30,3,0.46
1,2,5,2,5,20.000000,70.0,100.0,15,1,0.08
2,3,4,1,4,20.000000,70.0,100.0,15,2,0.11
3,4,4,1,4,30.000000,70.0,70.0,50,4,0.73
4,5,5,2,5,25.789474,100.0,NaN,50,4,0.50
5,6,3,1,3,30.000000,100.0,70.0,25,1,0.35
6,7,4,2,4,30.000000,70.0,100.0,25,2,0.19
7,8,4,1,4,20.000000,70.0,70.0,10,4,0.23
8,9,3,1,3,30.000000,70.0,70.0,20,3,0.16
9,10,5,2,5,20.000000,70.0,100.0,70,4,1.60
10,11,3,1,3,30.000000,100.0,70.0,30,1,0.37
11,12,4,1,4,30.000000,100.0,70.0,50,2,0.76
12,13,4,1,4,30.000000,100.0,100.0,50,2,0.66
13,14,5,2,5,20.000000,70.0,100.0,70,4,1.27
14,15,4,2,4,30.000000,50.0,50.0,50,2,0.57
15,16,4,1,4,30.000000,70.0,50.0,50,3,0.52
16,17,4,2,4,30.000000,50.0,50.0,50,2,0.50
17,18,5,2,5,20.000000,70.0,70.0,70,4,0.99
18,19,5,2,5,20.000000,70.0,70.0,70,4,0.92
19,20,3,1,3,20.000000,70.0,70.0,15,3,0.26

In [18]:
#Replace missing values in Test Coverage with 95
mydata.Review_Coverage.fillna(95,inplace=True)

In [19]:
mydata

,SL No,Reviewer_Skill,Review_Type,Domain_Knowledge,Review_Time,Test_Coverage,Review_Coverage,Reuse,Review_Rate,Sprint_Prod
0,1,4,1,4,30.000000,100.0,70.0,30,3,0.46
1,2,5,2,5,20.000000,70.0,100.0,15,1,0.08
2,3,4,1,4,20.000000,70.0,100.0,15,2,0.11
3,4,4,1,4,30.000000,70.0,70.0,50,4,0.73
4,5,5,2,5,25.789474,100.0,95.0,50,4,0.50
5,6,3,1,3,30.000000,100.0,70.0,25,1,0.35
6,7,4,2,4,30.000000,70.0,100.0,25,2,0.19
7,8,4,1,4,20.000000,70.0,70.0,10,4,0.23
8,9,3,1,3,30.000000,70.0,70.0,20,3,0.16
9,10,5,2,5,20.000000,70.0,100.0,70,4,1.60
10,11,3,1,3,30.000000,100.0,70.0,30,1,0.37
11,12,4,1,4,30.000000,100.0,70.0,50,2,0.76
12,13,4,1,4,30.000000,100.0,100.0,50,2,0.66
13,14,5,2,5,20.000000,70.0,100.0,70,4,1.27
14,15,4,2,4,30.000000,50.0,50.0,50,2,0.57
15,16,4,1,4,30.000000,70.0,50.0,50,3,0.52
16,17,4,2,4,30.000000,50.0,50.0,50,2,0.50
17,18,5,2,5,20.000000,70.0,70.0,70,4,0.99
18,19,5,2,5,20.000000,70.0,70.0,70,4,0.92
19,20,3,1,3,20.000000,70.0,70.0,15,3,0.26

In [20]:
#Saving the new file
mydata.to_excel(r'D:\Python_ISI\data.xlsx')