In [1]:
#Import the packages
import pandas as mypd
from sklearn.ensemble import RandomForestRegressor
import joblib

In [2]:
data=mypd.read_excel('D:/Python_ISI/data/Boston_Housing Data.xls')

In [3]:
mydata=data.iloc[0:10,0:13]

In [4]:
mymodel=joblib.load('RFModel.sav')

In [5]:
myres=mymodel.predict(mydata)

In [6]:
myres=mypd.DataFrame(myres,columns=['Predicted y'])
myres

   Predicted y
0     25.14175
1     23.36575
2     34.43075
3     34.22175
4     35.02625
5     28.43075
6     22.26550
7     23.46075
8     18.58275
9     19.45700

In [7]:
myresult=mydata.join(myres)

In [8]:
myresult

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Predicted y
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,25.14175
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,23.36575
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.43075
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,34.22175
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,35.02625
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.43075
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.26550
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,23.46075
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,18.58275
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,19.45700